/* Global
 * ----------------------------------------------------------------*/
body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
}

/* Containers
 * ----------------------------------------------------------------*/
.container {
  background: #fff;
  border-radius: 4px;
  font-size: 1rem;
  margin: 200px auto;
  max-width: 300px;
  padding: 25px;
}

.container.board {
  max-width: none;
  width: fit-content;
}

/* Init Form
 * ----------------------------------------------------------------*/
.form label {
  display: block;
  margin-bottom: 1rem;
}

.form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0.25rem 0 0.5rem;
  padding: 1rem;
  width: 100%;
}

.form button {
  background: #580;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
}

.form .size {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.form .size input {
  flex: 1;
  margin-bottom: 0;
  text-align: center;
}

.form .size span {
  margin: 0 1rem;
}

/* Board
 * ----------------------------------------------------------------*/
.board .row {
  display: flex;
  justify-content: space-between;
}

.board .cell {
  flex: 1;
  height: 25px;
  text-align: center;
  width: 25px;
}

.board button {
  background: #ddd;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  height: 25px;
  margin: 0 0 1rem;
  width: 25px;
}

/* Message
 * ----------------------------------------------------------------*/
.message {
  text-align: center;
}

.message img {
  max-width: 100%;
}

.message button {
  background: #089;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
}
